.center {
   display: table;
   width: 100%;
}
.center-content {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}	
@media (min-width: 0px) {
	.btn {
		padding: 3em 3em 3em 3em !important;
	}
}